extends ../layout

block head 
    link(rel='stylesheet', href='/styles/productDetail.css')
    link(rel='stylesheet', href='/styles/productForm.css')
block content 
    .center-detail
        form.formWrapper(action=product.id? `/products/edit/${product.id}`: '/products/create' method="POST")
            -if (product.id)
                h1 Editar Produto
            -else
                h1 Cadastro Produto
            .formGroup
                label(for="nome") Nome
                input(type='text' name="nome" value=product.nome || '')
                -if (errors)
                    each error in errors
                        if error.field == 'nome'
                            div.text-danger= error.message
            .formGroup   
                label(for="preco") Preço
                input(type='text' name="preco" value=product.preco || '')
                -if (errors)
                    each error in errors
                        if error.field == 'preco'
                            div.text-danger= error.message
            .formGroup
                label(for="descricao") Descrição
                input(type='text' name="descricao" value=product.descricao || '')
                -if (errors)
                    each error in errors
                        if error.field == 'descricao'
                            div.text-danger= error.message
            .btn-group
                -if (product.id)
                    a(href=`/products/${product.id}` class="btn btn-voltar") Voltar
                -else
                    a(href=`/` class="btn btn-voltar") Voltar
                button(type="submit" class="btn btn-save")  Salvar
            