extends ../layout

block head 
    link(rel='stylesheet', href='/styles/productDetail.css')
block content 
    .center-detail
        div
            h1=product[0].nome
            p=product[0].descricao
            p R$ #{product[0].preco}
        .btn-group
            a(href=`/` class="btn btn-voltar") Voltar
            a(href=`/products/edit/${product[0].id}` class="btn") Editar
            a(href=`/products/delete/${product[0].id}` class="btn btn-delete") Excluir
            