extends ../layout

block head 
    link(rel='stylesheet', href='/styles/productDetail.css')
    link(rel='stylesheet', href='/styles/productForm.css')
block content 
    .center-detail
        form.formWrapper(action=client.id? `/clients/edit/${client.id}`: '/clients/create' method="POST")
            -if (client.id)
                h1 Editar Cliente
            -else
                h1 Cadastro Cliente
            .formGroup
                label(for="nome") Nome
                input(type='text' name="nome" value=client.nome || '')
                -if (errors)
                    each error in errors
                        if error.field == 'nome'
                            div.text-danger= error.message
            .formGroup   
                label(for="sobrenome") Sobrenome
                input(type='text' name="sobrenome" value=client.sobrenome || '')
                -if (errors)
                    each error in errors
                        if error.field == 'sobrenome'
                            div.text-danger= error.message
            .formGroup
                label(for="email") Email
                input(type='text' name="email" value=client.email || '')
                -if (errors)
                    each error in errors
                        if error.field == 'email'
                            div.text-danger= error.message
            .formGroup
                label(for="idade") Idade
                input(type='text' name="idade" value=client.idade || '')
                -if (errors)
                    each error in errors
                        if error.field == 'idade'
                            div.text-danger= error.message
            .btn-group
                -if (client.id)
                    a(href=`/clients/${client.id}` class="btn btn-voltar") Voltar
                -else
                    a(href=`/` class="btn btn-voltar") Voltar
                button(type="submit" class="btn btn-save")  Salvar
            