extends ../layout

block head 
    link(rel='stylesheet', href='/styles/productDetail.css')
block content 
    .center-detail
        div
            h1 #{`${client[0].nome} ${client[0].sobrenome}`}
            p Email: #{`${client[0].email}`}
            p Idade: #{client[0].idade}
        .btn-group
            a(href=`/clients` class="btn btn-voltar") Voltar
            a(href=`/clients/edit/${client[0].id}` class="btn") Editar
            a(href=`/clients/delete/${client[0].id}` class="btn btn-delete") Excluir
            