extends ../layout
block head 
    link(rel="stylesheet" href="/styles/clients.css")
block content 
    .row
        a(href="/clients/create" class="btn btn-add") Adicionar Cliente
    .row
        h2 Veio do cache? #{clients.cached? 'SIM' : 'NÃO'}

    -if (clients && clients.length > 0)
        .products-container
            table.striped-table
                thead 
                    th #
                    th Nome
                    th Sobrenome
                    th Email
                    th Idade
                    th Ações
                tbody 
                    each client in clients 
                        tr
                            td=client.id
                            td=client.nome 
                            td=client.sobrenome 
                            td=client.email 
                            td=client.idade 
                            td 
                                a(class="btn btn-table" href=`clients/${client.id}`) Detalhes
    -else
        h1 Nenhum cliente cadastrado
